:root {
    --netural: #232946;
    --base-100: #fffffe;
    --netural-focus: #121629;
    --accent: #eebbc3;
}
*{
 margin: 0;
}

body{
    font-family: sans-serif;
    text-align: center;
    background-color: var(--netural);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

h1{
    font-size: 60px;
}

#nav-bar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--netural);
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--netural-focus)
}

.nav-links{
    display: flex;
    list-style: none;
    font-family: serif;
}

.nav-links a {
    text-decoration: none;
    padding: 0 10px;
    color: var()

}

.nav-links a:hover {
    text-decoration: underline;
}

section{
    min-height: 100vh;
    padding: 70px 0;
}

#welcome-section {
    background-color: var(--netural);
    color: var(--base-100);
    display: flex;
    flex-direction: column;
}
#welcome-section h1{
    margin-top: 30vh;
}
#welcome-section p{
    color: var(--accent);
    font-size: 25px;
    margin: 25px 0;
    font-style: italic;
}